
<!-- aqui el modal liberacion -->
<ng-template #modalReportGeneral let-modal>
	<div class="modal-header modal-lg">
		<h3 class="modal-title text-center" id="modal-basic-title">REPORTE GENERAL ACTUALIZACION Y DEPRECIACION</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="formularioReportGeneral">
      <div class="row mt-5">
        <div class="col-md-3">
          <label for="descripcion">Fecha Inicio</label>
          <!-- <input type="date" class="form-control" formControlName="fechaInicio" [min]="getMinDate()" readonly> -->
          <input type="date" class="form-control" formControlName="fechaInicio">
        </div>
        <div class="col-md-3">
          <label for="descripcion">Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin" value="{{ getCurrentDate() }}">
        </div>
        <div class="col-md-3">
          <label for="descripcion">PLACA</label>
          <input type="text" class="form-control" formControlName="placa" placeholder="COS-10-12345" (input)="onPlacaInputChange($event)">
        </div>
        <div class="col-md-3">
          <label for="descripcion">REGIONAL</label>
          <select class="form-control me-2" formControlName="regional">
            <option value="">SELECCIONE</option>
            <option [ngValue]="regional.idregional" *ngFor="let regional of listaRegionales">{{ regional.idregional }} | {{ regional.nombre }}</option>
          </select>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-12">
            <!-- <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="bucarReportGeneral()"><i class="fa fa-file-pdf"></i> PDF</button> -->
            <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="reporteGeneralNew()"><i class="fa fa-file-pdf"></i> PDF</button>
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;" class="aling-center" *ngIf="cargandoReporteGeneral">
              <img style="width: 25%; max-width: 100%;" width="20%" src="assets/media/smiles/IllinformedMeaslyKoi-size_restricted.gif" alt="aqui es">
              <!-- <img src="assets/media/smiles/loading (1).gif" alt="aqui es"> -->
            </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-sm btn-success w-100" (click)="modal.close('guardar')">Guardar</button> -->
	</div>
</ng-template>
<!-- end del modal liberacion-->
<!-- aqui el modal liberacion -->
<ng-template #modalReportePorRegimen let-modal>
	<div class="modal-header modal-lg">
		<h3 class="modal-title text-center" id="modal-basic-title">REPORTE POR REGIMEN / GRUPO</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="formularioReportPorRegimen">
      <div class="row mt-5">
        <div class="col-md-3">
          <label for="descripcion">Fecha Inicio</label>
          <input type="date" class="form-control" formControlName="fechaInicio" [min]="getMinDate()">
          <!-- <input type="" class="form-control"> -->
        </div>
        <div class="col-md-3">
          <label for="descripcion">Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin" value="{{ getCurrentDate() }}">
        </div>
        <div class="col-md-3">
          <label for="descripcion">REGIMEN</label>
          <select class="form-control me-2" formControlName="regimen">
            <option value="">SELECCIONE</option>
            <option [ngValue]="regimen.idregimen" *ngFor="let regimen of regimenes">{{ regimen.nombre }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="descripcion">GRUPO</label>
          <select class="form-control me-2" formControlName="grupo">
            <option value="">SELECCIONE</option>
            <option [ngValue]="grupo.idgrupo" *ngFor="let grupo of grupos">{{ grupo.descripcion }}</option>
          </select>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-12">
            <!-- <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="bucarReportGeneral()"><i class="fa fa-file-pdf"></i> PDF</button> -->
            <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="reportePorRegimen()"><i class="fa fa-file-pdf"></i> PDF</button>
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;" class="aling-center" *ngIf="cargandoReporteGeneral">
              <img style="width: 25%; max-width: 100%;" width="20%" src="assets/media/smiles/IllinformedMeaslyKoi-size_restricted.gif" alt="aqui es">
              <!-- <img src="assets/media/smiles/loading (1).gif" alt="aqui es"> -->
            </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-sm btn-success w-100" (click)="modal.close('guardar')">Guardar</button> -->
	</div>
</ng-template>
<!-- end del modal liberacion-->
<!-- aqui el modal liberacion -->
<ng-template #modalReportePorGrupo let-modal>
	<div class="modal-header modal-lg">
		<h3 class="modal-title text-center" id="modal-basic-title">REPORTE POR GRUPO</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="formularioReportPorGrupo">
      <div class="row mt-5">
        <div class="col-md-4">
          <label for="descripcion">Fecha Inicio</label>
          <input type="date" class="form-control" formControlName="fechaInicio" [min]="getMinDate()" readonly>
          <!-- <input type="" class="form-control"> -->
        </div>
        <div class="col-md-4">
          <label for="descripcion">Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin" value="{{ getCurrentDate() }}">
        </div>
        <div class="col-md-4">
          <label for="descripcion">GRUPO</label>
          <select class="form-control me-2" formControlName="grupo">
            <option value="">SELECCIONE</option>
            <option [ngValue]="grupo.idgrupo" *ngFor="let grupo of grupos">{{ grupo.descripcion }}</option>
          </select>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-12">
            <!-- <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="bucarReportGeneral()"><i class="fa fa-file-pdf"></i> PDF</button> -->
            <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="reportePorGrupo()"><i class="fa fa-file-pdf"></i> PDF</button>
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;" class="aling-center" *ngIf="cargandoReporteGeneral">
              <img style="width: 25%; max-width: 100%;" width="20%" src="assets/media/smiles/IllinformedMeaslyKoi-size_restricted.gif" alt="aqui es">
              <!-- <img src="assets/media/smiles/loading (1).gif" alt="aqui es"> -->
            </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-sm btn-success w-100" (click)="modal.close('guardar')">Guardar</button> -->
	</div>
</ng-template>
<!-- end del modal liberacion-->

<!-- aqui el modal REPORTE ASIGANCIONA -->
<ng-template #modalReporteAsigancion let-modal>
	<div class="modal-header modal-lg">
		<h3 class="modal-title text-center" id="modal-basic-title">REPORTE DE ASIGNACION POR USUARIO</h3>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="formularioReportAsignacion">
      <div class="row mt-5">
        <div class="col-md-4">
          <label for="descripcion">Fecha Inicio</label>
          <input type="date" class="form-control" formControlName="fechaIni">
        </div>
        <div class="col-md-4">
          <label for="descripcion">Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin">
        </div>
        <div class="col-md-4">
          <label for="descripcion">Asignacion/Liberacion</label>
          <select class="form-control" formControlName="tipoAL">
            <option value="1">Asignacion</option>
            <option value="0">Liberacion</option>
          </select>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3">
          <label for="descripcion">Cedula</label>
          <input type="number" class="form-control" formControlName="cedula" (keyup)="buscarPersona()">
        </div>
        <div class="col-md-3">
          <label for="descripcion">Apellido Paterno</label>
          <input type="text" class="form-control" formControlName="ap_paterno" (keyup)="buscarPersona()">
        </div>
        <div class="col-md-3">
          <label for="descripcion">Apellido Materno</label>
          <input type="text" class="form-control" formControlName="ap_materno" (keyup)="buscarPersona()">
        </div>
        <div class="col-md-3">
          <label for="descripcion">Nombres</label>
          <input type="text" class="form-control" formControlName="nombre" (keyup)="buscarPersona()">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th>CEDULA</th>
                <th>AP PATERNO</th>
                <th>AP MATERNO</th>
                <th>NOMBRE</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of listadoPersonasBuscadas">
                <td>{{ persona.ci }}</td>
                <td>{{ persona.des }}</td>
                <td>{{ persona.des1 }}</td>
                <td>{{ persona.des2 }}</td>
                <td>
                  <button class="btn btn-icon btn-danger btn-sm" (click)="seleccionar( persona.des+' '+persona.des1+' '+persona.des2 , persona.ci)"><i class="fa fa-file-pdf"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="row mt-6">
        <div class="col-md-12">
            <button class="btn btn-danger btn-sm w-100" [disabled]="cargandoReporteGeneral" (click)="reporteAsignacion()"><i class="fa fa-file-pdf"></i> PDF</button>
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;" class="aling-center" *ngIf="cargandoReporteGeneral">
              <img style="width: 25%; max-width: 100%;" width="20%" src="assets/media/smiles/IllinformedMeaslyKoi-size_restricted.gif" alt="aqui es">
            </div>
        </div>
      </div> -->
    </form>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-sm btn-success w-100" (click)="modal.close('guardar')">Guardar</button> -->
	</div>
</ng-template>
<!-- end del modal liberacion-->


<div class="container" style="width:100%;">
  <div class="card mb-5 mb-xxl-8" >
    <div class="card-body pt-9 pb-0">
      <div class="row w-100">
        <div class="col">
            <div class="card mb-5 mb-xxl-8 bg-hover-light-success">
                <div class="card-body">
                  <h1 class="text-center">REPORTE GENERAL ACTUALIZACION Y DEPRECIACION</h1>
                  <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportGeneral(modalReportGeneral)">Acceder</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-5 mb-xxl-8 bg-hover-light-success">
                <div class="card-body">
                  <h1 class="text-center">REPORTE GENERAL POR REGIMEN / GRUPO</h1>
                  <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportPorRegimen(modalReportePorRegimen)">Acceder</button>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card mb-5 mb-xxl-8 bg-hover-light-success">
            <div class="card-body">
              <h1 class="text-center">REPORTE ASIGNACION/LIBERACION POR USUARIO</h1>
              <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportAsignacion(modalReporteAsigancion)">Acceder</button>
            </div>
              <!-- <div class="card-body">
                <h1 class="text-center">REPORTE GENERAL POR GRUPO</h1>
                <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportPorGrupo(modalReportePorGrupo)">Acceder</button>
              </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="card mb-5 mb-xxl-8 bg-hover-light-success">
            <div class="card-body">
              <h1 class="text-center">REPORTE LIBERACION POR USUARIO</h1>
              <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportAsignacion(modalReporteAsigancion)">Acceder</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="card mb-5 mb-xxl-8 bg-hover-light-success">
            <div class="card-body">
              <h1 class="text-center">REPORTE ASIGNACION POR USUARIO</h1>
              <button class="btn btn-sm btn-success mt-5 w-100" (click)="abreModalReportAsignacion(modalReporteAsigancion)">Acceder</button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
  
