<!-- aqui el modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker dp="ngbDatepicker"/>
					<!-- <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button> -->
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr />
<pre>{{ closeResult }}</pre>
<!-- end del modal -->

<div class="card card-custom d-flex fs-6 p-0 m-0 text-gray-600">
  <div class="card-body">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Listado de Activos</span>
        <span class="text-muted mt-1 fw-bold fs-7">Registros</span>
      </h3>
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Click to add a user"
      >
        <a (click)="openModal()" class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nuevo Activo
        </a>
      </div>
    </div>
    <div class="card-body py-3">
      <div class="table-responsive">
        <div *ngIf="activos1.length > 0">
          <div class="alert alert-danger">Sin datos de registro</div>
        </div>
        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-40px">ID</th>
              <th class="min-w-140px">CODIGO</th>
              <th class="min-w-120px">DESCRIPCION</th>
              <th class="min-w-120px">EFICIENCIA</th>
              <th class="min-w-120px">FECHA</th>
              <th class="min-w-120px">GRUPO</th>
              <th class="min-w-120px">SUB GRUPO</th>
              <th class="min-w-120px">REGIMEN</th>
              <th class="min-w-120px">REGIONAL</th>
              <th class="min-w-100px text-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activo of activos1 | async">
              <td>{{ activo.idactivo }}</td>
              <td>{{ activo.codigo }}</td>
              <td>{{ activo.descripcion }}</td>
              <td>{{ activo.eficiencia }}</td>
              <td>{{ activo.fecha }}</td>
              <td>{{ (activo.grupo === null)? '' : activo.grupo.descripcion  }}</td>
              <td>{{ (activo.subgrupo === null)? '' : activo.subgrupo.descripcion }}</td>
              <td>{{ (activo.regimen === null)? '' : activo.regimen.descripcion }}</td>
              <td>{{ (activo.regional === null)? '' : activo.regional.descripcion }}</td>
              <td class="text-end">
                <button class="btn btn-info btn-icon btn-sm me-1"><i class="fas fa-eye"></i></button>
                <!-- <button class="btn btn-warning btn-icon btn-sm"><i class="fas fa-edit"></i></button> -->
                <button class="btn btn-danger btn-icon btn-sm me-1"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
