<!-- <div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8">
    <div class="d-flex h-80px w-80px flex-shrink-0 flex-center position-relative">
      <span class="svg-icon svg-icon-primary position-absolute opacity-15"
        [inlineSVG]="'./assets/media/icons/duotune/abstract/abs051.svg'"
        [setSVGAttributes]="{ class: 'h-80px w-80px' }"></span>
      <span [inlineSVG]="'./assets/media/icons/duotune/coding/cod009.svg'"
        class="svg-icon svg-icon-3x svg-icon-primary position-absolute"></span>
    </div>
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        The layout builder is to assist your set and configure your preferred
        project layout specifications and preview it in real-time and export the
        HTML template with its includable partials of this demo. The downloaded
        version does not include the assets folder since the layout builder's
        main purpose is to help to generate the final HTML code without hassle.
        Layout builder changes don't affect pages with layout wrappers.
      </p>
    </div>
  </div>
</div> -->
<div class="card card-custom d-flex">
  <!-- <div class="card-header card-header-stretch overflow-auto">
    <h1 class="mt-4">LISTADO DE ACTIVOS</h1>
  </div> -->
  <div class="card-body">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Listado de Activos | {{ varPrueb }}</span>
        <span class="text-muted mt-1 fw-bold fs-7">Registros</span>
      </h3>
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Click to add a user"
      >
        <a href="#" class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nuevo Activo
        </a>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <div *ngIf="activos.length == 0">
          <div class="alert alert-danger">Sin datos de registro</div>
        </div>
        <!-- begin::Table -->
        <table *ngIf="activos.length > 0" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="w-25px">
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="1"
                    data-kt-check="true"
                    data-kt-check-target=".widget-9-check"
                  />
                </div>
              </th>
              <th class="min-w-150px">Authors</th>
              <th class="min-w-140px">Company</th>
              <th class="min-w-120px">Progress</th>
              <th class="min-w-100px text-end">Actions</th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let activo of activos">
              <td>
                {{activo.idactivo}}
                <!-- <div class="form-check form-check-sm form-check-custom form-check-solid">
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />
                </div> -->
              </td>
              <td>
                {{activo.descripcion}}

                <!-- <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="./assets/media/avatars/300-14.jpg" alt="" />
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                      Ana Simmons
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      HTML, JS, ReactJS
                    </span>
                  </div>
                </div> -->
              </td>
              <td>
                <!-- <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                  Intertico
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Web, UI/UX Design
                </span> -->
              </td>
              <td class="text-end">
                <!-- <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">50%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>
                </div> -->
              </td>
              <td>
                <!-- <div class="d-flex justify-content-end flex-shrink-0">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                </div> -->
              </td>
            </tr>
            <!-- <tr>
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="./assets/media/avatars/300-2.jpg" alt="" />
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                      Jessie Clarcson
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      C#, ASP.NET, MS SQL
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                  Agoda
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Houses &amp; Hotels
                </span>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">70%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      [style.width]="'70%'"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                </div>
              </td>
            </tr> -->
            <!-- <tr>
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="./assets/media/avatars/300-5.jpg" alt="" />
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                      Lebron Wayde
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      PHP, Laravel, VueJS
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                  RoadGee
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7"
                  >Transportation</span
                >
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">60%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      [style.width]="'60%'"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                </div>
              </td>
            </tr> -->
            <!-- <tr>
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="./assets/media/avatars/300-20.jpg" alt="" />
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                      Natali Goodwin
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      Python, PostgreSQL, ReactJS
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                  The Hill
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7"
                  >Insurance</span
                >
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">50%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                </div>
              </td>
            </tr> -->
            <!-- <tr>
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="./assets/media/avatars/300-23.jpg" alt="" />
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
                      Kevin Leonard
                    </a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">
                      HTML, JS, ReactJS
                    </span>
                  </div>
                </div>
              </td>
              <td>
                <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                  RoadGee
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7"
                  >Art Director</span
                >
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold">90%</span>
                  </div>
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      [style.width]="'90%'"
                    ></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                </div>
              </td>
            </tr> -->
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
  </div>
<hr>

<!-- <div class="card card-custom">
  <div class="card-header card-header-stretch overflow-auto">
    <ul class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      " role="tablist">

      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Sidebar' }"
          (click)="setActiveTab('Sidebar')" role="tab">
          Sidebar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Header' }"
          (click)="setActiveTab('Header')" role="tab">
          Header
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'Toolbar' }"
          (click)="setActiveTab('Toolbar')" role="tab">
          Toolbar
        </a>
      </li>
    </ul>
  </div>
  <form class="form" novalidate #form="ngForm" (ngSubmit)="submitPreview()">
    <div class="card-body">
      <div class="tab-content pt-3">
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'Sidebar' }">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed sidebar mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">


                <div class="
                    form-check form-check-custom form-check-solid form-switch
                    mb-2
                  ">
                  <input class="form-check-input" type="checkbox" name="model.app.sidebar.default.fixed.desktop"
                    [(ngModel)]="model.app.sidebar.default.fixed.desktop" />
                </div>

              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Minimize</h4>
              <div class="fs-7 fw-semibold text-muted">Sidebar minimize mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">

                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch
                  ">
                  <input class="form-check-input" type="checkbox"
                    name="model.app.sidebar.default.minimize.desktop.enabled"
                    [(ngModel)]="model.app.sidebar.default.minimize.desktop.enabled" />
                  <label class="form-check-label text-gray-700 fw-bold"
                    for="kt_builder_sidebar_minimize_desktop_enabled" data-bs-toggle="tooltip"
                    data-kt-initialized="1">Minimize Toggle</label>
                </div>
                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch ms-10
                  ">
                  <input class="form-check-input" type="checkbox"
                    name="model.app.sidebar.default.minimize.desktop.hoverable"
                    [(ngModel)]="model.app.sidebar.default.minimize.desktop.hoverable" />
                  <label class="form-check-label text-gray-700 fw-bold"
                    for="kt_builder_sidebar_minimize_desktop_hoverable" data-bs-toggle="tooltip"
                    data-kt-initialized="1">Hoverable</label>
                </div>
                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch ms-10
                  ">
                  <input class="form-check-input" type="checkbox"
                    name="model.app.sidebar.default.minimize.desktop.default"
                    [(ngModel)]="model.app.sidebar.default.minimize.desktop.default" />
                  <label class="form-check-label text-gray-700 fw-bold"
                    for="kt_builder_sidebar_minimize_desktop_default" data-bs-toggle="tooltip"
                    data-kt-initialized="1">Default Minimized</label>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'Header' }">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed header mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">
                <div class="
                    form-check form-check-custom form-check-solid form-switch
                    mb-2
                  ">
                  <input class="form-check-input" type="checkbox" name="model.app.header.default.fixed.desktop"
                    [(ngModel)]="model.app.header.default.fixed.desktop" />
                </div>

              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>

          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Content</h4>
              <div class="fs-7 fw-semibold text-muted">Header content type</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input class="form-check-input" type="radio" checked="checked" value="menu"
                  id="kt_builder_header_content_menu" name="model.app.header.default.content"
                  [(ngModel)]="model.app.header.default.content" value="menu">
                <label class="form-check-label text-gray-700 fw-bold text-nowrap"
                  for="kt_builder_header_content_menu">Menu</label>
              </div>
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input class="form-check-input" type="radio" value="page-title"
                  id="kt_builder_header_content_page-title" name="layout-builder[layout][app][header][default][content]"
                  name="model.app.header.default.content" value="page-title"
                  [(ngModel)]="model.app.header.default.content">
                <label class="form-check-label text-gray-700 fw-bold text-nowrap"
                  for="kt_builder_header_content_page-title">Page Title</label>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{ active: activeTab === 'Toolbar' }">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed toolbar mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="d-flex justify-content-end">
                <div class="form-check form-check-custom form-check-solid form-check-success form-switch me-10">
                  <input class="form-check-input w-45px h-30px" type="checkbox"
                    name="layout-builder[layout][app][toolbar][fixed][desktop]" id="kt_builder_toolbar_fixed_desktop"
                    name="model.app.toolbar.fixed.desktop" [(ngModel)]="model.app.toolbar.fixed.desktop">
                  <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_toolbar_fixed_desktop">Desktop
                    Mode</label>
                </div>
                <div class="form-check form-check-custom form-check-solid form-check-success form-switch">
                  <input class="form-check-input w-45px h-30px" type="checkbox" name="model.app.toolbar.fixed.mobile"
                    [(ngModel)]="model.app.toolbar.fixed.mobile" id="kt_builder_toolbar_fixed_mobile">
                  <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_toolbar_fixed_mobile">Mobile
                    Mode</label>
                </div>
              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>
          <div class="mb-6">
            <h4 class="fw-bold text-dark">Layout</h4>
            <div class="fw-semibold text-muted fs-7 d-block lh-1">Select a toolbar layout</div>
          </div>
          <div data-kt-buttons="true"
            data-kt-buttons-target=".form-check-image:not(.disabled),.form-check-input:not([disabled])"
            data-kt-initialized="1">
            <label class="form-check-image form-check-success mb-10"
              [ngClass]="{'active': model.app.toolbar.layout === 'classic'}">
              <div class="form-check-wrapper">
                <img src="./assets/media/misc/layout/toolbar-classic.png" class="mw-100" alt="">
              </div>
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input class="form-check-input" type="radio" checked="checked" value="classic"
                  name="model.app.toolbar.layout" [(ngModel)]="model.app.toolbar.layout">
                <div class="form-check-label text-gray-800">Classic</div>
              </div>
            </label>
            <label class="form-check-image form-check-success mb-10"
              [ngClass]="{'active': model.app.toolbar.layout === 'saas'}">
              <div class="form-check-wrapper">
                <img src="./assets/media/misc/layout/toolbar-saas.png" class="mw-100" alt="">
              </div>
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input class="form-check-input" type="radio" value="saas" name="model.app.toolbar.layout"
                  [(ngModel)]="model.app.toolbar.layout">
                <div class="form-check-label text-gray-800">SaaS</div>
              </div>
            </label>
            <label class="form-check-image form-check-success mb-10"
              [ngClass]="{'active': model.app.toolbar.layout === 'accounting'}">
              <div class="form-check-wrapper">
                <img src="./assets/media/misc/layout/toolbar-accounting.png" class="mw-100" alt="">
              </div>
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input class="form-check-input" type="radio" value="accounting" name="model.app.toolbar.layout"
                  [(ngModel)]="model.app.toolbar.layout">
                <div class="form-check-label text-gray-800">Accounting</div>
              </div>
            </label>
            <label class="form-check-image form-check-success mb-10"
              [ngClass]="{'active': model.app.toolbar.layout === 'extended'}">
              <div class="form-check-wrapper">
                <img src="./assets/media/misc/layout/toolbar-extended.png" class="mw-100" alt="">
              </div>
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input class="form-check-input" type="radio" value="extended" name="model.app.toolbar.layout"
                  [(ngModel)]="model.app.toolbar.layout">
                <div class="form-check-label text-gray-800">Extended</div>
              </div>
            </label>
            <label class="form-check-image form-check-success mb-10"
              [ngClass]="{'active': model.app.toolbar.layout === 'reports'}">
              <div class="form-check-wrapper">
                <img src="./assets/media/misc/layout/toolbar-reports.png" class="mw-100" alt="">
              </div>
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input class="form-check-input" type="radio" value="reports" name="model.app.toolbar.layout"
                  [(ngModel)]="model.app.toolbar.layout">
                <div class="form-check-label text-gray-800">Reports</div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer py-6">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
          <button type="button" (click)="submitPreview()" class="btn btn-primary me-2"
            [disabled]="configLoading || resetLoading">
            <ng-container *ngIf="!configLoading">
              <span class="indicator-label">Preview</span>
            </ng-container>

            <ng-container *ngIf="configLoading">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>

          <button type="button" id="kt_layout_builder_reset" class="btn btn-active-light btn-color-muted"
            (click)="resetPreview()" [disabled]="configLoading || resetLoading">
            <ng-container *ngIf="!resetLoading">
              <span class="indicator-label">Reset</span>
            </ng-container>

            <ng-container *ngIf="resetLoading">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
        </div>
      </div>
    </div>
  </form>
</div> -->
