<!-- aqui el modal -->
<ng-template #content let-modal>
	<div class="modal-header modal-lg">
		<h4 class="modal-title" id="modal-basic-title">Formulario de Activo</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="activoForm" (ngSubmit)="createActivo()">

      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label for="dateOfBirth">CODIGO DE ACTIVO</label>
          <input type="text" class="form-control" readonly [(ngModel)]="activo.codigo" formControlName="codigo">
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <label for="dateOfBirth">Grupo</label>
          <select class="form-control me-2" (change)="buscarSubGrupo($event)" [(ngModel)]="activo.grupo" formControlName="grupo">
            <option value="">Seleecione</option>
            <option [ngValue]="grupo" *ngFor="let grupo of grupos">{{ grupo.descripcion }}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Sub Grupo</label>
          <select class="form-control me-2" (change)="listarComponentes($event)" [(ngModel)]="activo.subgrupo" formControlName="subgrupo">
            <option value="">Seleccione</option>
            <option [ngValue]="subgrupo" *ngFor="let subgrupo of subGruposBuscados">{{ subgrupo.descripcion }}</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Incorporacion</label>
          <select class="form-control me-2" [(ngModel)]="activo.incorporacion" formControlName="incorporacion">
            <option value="">Seleccione</option>
            <option [ngValue]="incorporacion" *ngFor="let incorporacion of incorporaciones">{{ incorporacion.nombre }}</option>
          </select>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-12">
          <label for="dateOfBirth">Descripcion</label>
          <input type="text" class="form-control me-2" [(ngModel)]="activo.descripcion" formControlName="descripcion">
        </div>
      </div>

      <div class="row mt-5" *ngIf="componentesView">
        <div class="col" *ngFor="let componente of componentes;index as i">
          <label for="dateOfBirth">{{ componente.nombre}}</label>
          <input type="text" class="form-control me-2" id="{{ componente.estado}}">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-3">
          <label for="dateOfBirth">Regional</label>
          <select class="form-control me-2" [(ngModel)]="activo.regional" formControlName="regional" (change)="generaCodRegional()">
            <option value="">Seleccione</option>
            <option [ngValue]="regional" *ngFor="let regional of regionales">{{ regional.nombre }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="dateOfBirth">Regimen</label>
          <select class="form-control me-2" [(ngModel)]="activo.regimen" formControlName="regimen" (change)="generaCodRegimen()">
            <option value="">Seleccione</option>
            <option [ngValue]="regimen" *ngFor="let regimen of regimenes">{{ regimen.nombre }}</option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="dateOfBirth">Unidad de manejo</label>
          <select class="form-control me-2" [(ngModel)]="activo.unidadmanejo" formControlName="unidadmanejo">
            <option value="">Seleccione</option>
            <option [ngValue]="uniManejo" *ngFor="let uniManejo of unidadManejos">{{ uniManejo.descripcion }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="dateOfBirth">Codigo Patrimonial</label>
          <input type="text" class="form-control me-2" [(ngModel)]="activo.placa" formControlName="placa">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <label for="dateOfBirth">Eficiencia</label>
          <select class="form-control me-2" [(ngModel)]="activo.eficiencia" formControlName="eficiencia">
            <option value="">Seleccione</option>
            <option value="Nuevo">A | Nuevo</option>
            <option value="Bueno">B | Bueno</option>
            <option value="Regular">C | Regular(+)</option>
            <option value="Regular">D | Regular(-)</option>
            <option value="Malo">E | Malo</option>
            <option value="Para Baja">F | Para Baja</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Forma Inicial</label>
          <select class="form-control me-2" [(ngModel)]="activo.formainicial" formControlName="formainicial">
            <option value="">Seleccione</option>
            <option value="Incorporado">Incorporado</option>
            <option value="Inc. Transferencia">Inc. Transferencia</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Estado de Registro</label>
          <select class="form-control me-2" [(ngModel)]="activo.estadoregistro" formControlName="estadoregistro">
            <option value="">Seleccione</option>
            <option value="Aprobado">Aprobado</option>
            <option value="Anulado">Anulado</option>
          </select>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <label for="dateOfBirth">Fecha de Compra</label>
          <input type="date" class="form-control me-2" [(ngModel)]="activo.fechacompra" formControlName="fechacompra" (change)="sacaUfv()" [max]="maxValFecha">
        </div>
        <div class="col-md-6">
          <label for="dateOfBirth">Precio</label>
          <input type="number" class="form-control me-2" [(ngModel)]="activo.precio" formControlName="precio">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <label for="dateOfBirth">UFV de compra</label>
          <input type="number" class="form-control me-2" [(ngModel)]="activo.ufvcompra" formControlName="ufvcompra">
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Tasa de depreciacion</label>
          <input type="number" class="form-control me-2" [(ngModel)]="activo.porcentaje_depreciacion" formControlName="porcentaje_depreciacion" readonly>
        </div>
        <div class="col-md-4">
          <label for="dateOfBirth">Vida Util (años)</label>
          <input type="number" class="form-control me-2" [(ngModel)]="activo.vida_util" formControlName="vida_util" readonly>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <button class="btn btn-success w-100" type="submit">Guardar</button>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<!-- <button type="button" class="btn btn-success w-100" (click)="modal.close('guardar')">Guardar</button> -->
	</div>
</ng-template>
<!-- end del modal -->

<div class="card card-custom d-flex fs-6 p-0 m-0 text-gray-600">
  <div class="card-body">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Listado de Activos</span>
        <span class="text-muted mt-1 fw-bold fs-7">Registros</span>
      </h3>
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Click to add a user"
      >
        <a (click)="openModal(content)" class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nuevo Activo
        </a>
      </div>
    </div>
    <div class="card-body py-3">
      <div class="table-responsive">
        <div>
          <!-- <div class="alert alert-danger">Sin datos de registro</div> -->
        </div>
        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-40px">ID</th>
              <th class="min-w-140px">CODIGO</th>
              <th class="min-w-120px">DESCRIPCION</th>
              <th class="min-w-120px">EFICIENCIA</th>
              <th class="min-w-120px">FECHA</th>
              <th class="min-w-120px">GRUPO</th>
              <th class="min-w-120px">SUB GRUPO</th>
              <th class="min-w-120px">REGIMEN</th>
              <th class="min-w-120px">REGIONAL</th>
              <th class="min-w-100px text-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activo of activos">
              <td>{{ activo.idactivo }}</td>
              <td>{{ activo.codigo }}</td>
              <td>{{ activo.descripcion }}</td>
              <td>{{ activo.eficiencia }}</td>
              <td>{{ activo.fecha }}</td>
              <td>{{ (activo.grupo === null)? '' : activo.grupo.descripcion  }}</td>
              <td>{{ (activo.subgrupo === null)? '' : activo.subgrupo.descripcion }}</td>
              <td>{{ (activo.regimen === null)? '' : activo.regimen.descripcion }}</td>
              <td>{{ (activo.regional === null)? '' : activo.regional.descripcion }}</td>
              <td class="text-end">
                <button class="btn btn-info btn-icon btn-sm me-1" [routerLink]="['/activo/detalle', activo.idactivo]" ><i class="fas fa-eye"></i></button>
                <button class="btn btn-danger btn-icon btn-sm me-1" (click)="eliminarActivo(activo)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
